@font-face {
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'),
	url(/static/opensans.woff2) format('woff2'),
	url(/static/opensans.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
	background: #f6f9fc none repeat scroll 0 0;
	color: #222;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
}

body,
pre,
input,
textarea,
select {
	font-family: 'Open Sans', 'Droid Sans', 'DejaVu Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.02em;
}

.content {
	margin: 0 auto;
	text-align: left;
	width: 95%;
	font-size: 0.85em;
}

#archnavbar {
	background: #333 none repeat scroll 0 0 !important;
	border-bottom: 5px solid #08c !important;
	min-height: 40px !important;
	padding: 10px 15px !important;
}

#archnavbar ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	font-size: 0;
	letter-spacing: 0;
}

#archnavbar ul li {
	display: inline-block;
	font-size: 14px;
	font-family: sans-serif !important;
	line-height: 1.4;
	letter-spacing: 0;
	padding-top: 14px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0;
}

#archnavbarlist li a {
	color: #999;
	font-weight: bold;
	text-decoration: none;
}

#archnavbar ul li a:hover {
	color: white;
	text-decoration: underline;
}

#archnavbarlist #anb-security a {
	color: white; !important;
}

.navbar {
	margin: 1.5em 0;
}

.navbar ul {
	list-style: outside none none;
	margin: -0.5em 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {
	display: inline;
	font-size: 1.0em;
	margin: 0;
	padding: 0 0.5em;
}

#logo {
	background: rgba(0, 0, 0, 0) url("archlogo.8a05bc7f6cd1.svg") no-repeat scroll 0 0 !important;
	background-size: 100% !important;
	height: 40px !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 190px !important;
	float: left !important;
}

#logo a {
	display: block !important;
	height: 40px !important;
	width: 190px !important;
	text-indent: -9999px !important;
}

#page_footer {
	font-size: 0.9em;
	margin: 0 auto;
	text-align: center;
	width: 95%;
}

h1 {
	font-size: 2em;
	margin: 1.0em 0;

}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.0em;
	margin: 0.75em 0;
}

h1 a {
	font-size: 0.45em;
	line-height: 0.45em;
}

hr {
	border: 0;
	border-top: 1px dashed #bcd;
	margin: 10px 0;
}

.monospaced {
	font-family: monospace;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #07b;
}

a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
	text-decoration: underline;
}

.box {
	background: #ecf2f5 none repeat scroll 0 0;
	border: 1px solid #bcd;
	padding: 0.65em;
	margin-bottom: 1.5em;
	font-weight: bold;
}

.box.warning {
	background: rgb(255, 162, 0) none repeat scroll 0 0;
	border: 1px solid rgb(255, 106, 0);
	color: black;
	font-weight: bold;
}

.box.error {
	background: rgb(255, 80, 5) none repeat scroll 0 0;
	border: 1px solid rgb(221, 0, 0);
	color: yellow;
	font-weight: bold;
}

.wrap {
	white-space: normal;
}

.no-wrap {
	white-space: nowrap;
}

pre {
	white-space: pre-wrap;
	word-break: break-word;
	margin: 0;
}

table {
	border: 0;
	margin-bottom: 1.5em;
	padding: 0.65em;
	font-size: 1.00em;
	border-collapse: collapse;
}

table tr td,
table th {
	padding: 0.35em 0.90em;
	text-align: left;
	white-space: nowrap;
}

table th {
	background: rgb(217, 230, 236) none repeat scroll 0 0;
	border-bottom: 1px solid #bcd;
}

table tr:hover {
	background-color: rgb(228, 237, 241)
}

table.styled-table {
	background: #ecf2f5 none repeat scroll 0 0;
	border: 1px solid #bcd;
}

table.styled-table tr td {
	border-top: 1px dotted #bcd;
}

table.stats-table tr td:first-child {
	text-align: left;
}

table.stats-table tr td {
	text-align: right;
}

table.column-major tr td:first-child {
	font-weight: bold;
}

.separator-bottom, .separator-bottom td {
	border-bottom: 1px solid #bcd;
}

.separator-right, .separator-right td {
	border-right: 1px solid #bcd;
}

.center {
	text-align: center;
}

.size,
.full.size {
	width: 100%;
}

.collapse.size {
	width: 1%;
}

.wide.size {
	max-width: 85em;
}

.medium.size {
	max-width: 70em;
}

.short.size {
	max-width: 50em;
}

.small.size {
	max-width: 30em;
}

.tiny.size {
	max-width: 20em;
}

.extra-height {
	min-height: 260px;
}

form {
	margin: 0;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 2.9em;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	font-size: 0.8rem; !important
}

textarea {
	min-height: 85px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid rgb(155, 187, 224);
	outline: 0;
}

.input-compact {
	padding-top: 0;
	padding-bottom: 0;
	height: 2.4em;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 0.75em;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
	box-sizing: border-box;
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
	text-decoration: none;
	border-color: #555;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	background-color: rgb(217, 230, 236);
	border-color: #bcd;
	color: #07b;
}

.button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:hover,
button.button-primary:focus,
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="button"].button-primary:focus {
	background-color: rgb(197, 217, 226);
	border-color: rgb(155, 187, 224);
}

input[readonly] {
	background-color: #f1f1f1;
}

.button.button-table {
	height: 2.2em;
	line-height: 2.0em;
	padding: 0 25px;
	margin: 2px 2px;
}

.no-padding {
	padding: 0;
}

.errors {
	clear: none;
	color: red;
}

.errors ul {
	padding: 0;
	margin: 0;
}

.errors li {
	list-style: none;
}

.red {
	color: rgb(221, 0, 0);
}

.orange {
	color: rgb(255, 80, 5);
}

.light_orange {
	color: rgb(255, 164, 5)
}

.green {
	color: rgb(0, 128, 0);
}

.purple {
	color: rgb(127, 32, 139);
}

.error_icon_box {
	text-align: center;
	margin-top: -8vw; !important
}

.error_icon_box .icon {
	font-size: calc(13vw + 13vh + 6vmin); !important
}

.error_icon_box pre {
	margin-top: -10vw; !important
	font-weight: bold;
	font-size: calc(2vw + 2vh + 2vmin);
	line-height: calc(2vw + 4vh + 2vmin);
}

.advisory {
	font-family: monospace;
	font-size: 1rem;
	line-height: 1.2rem;
	white-space: pre-wrap;
	word-break: break-word;
	margin: 0;
}

.no-margin {
	margin: 0;
}

label > .label-body {
	display: inline-block;
	margin-left: .5rem;
	font-weight: normal;
}

label,
legend {
	display: block;
	margin-bottom: .5rem;
	font-weight: 600;
}

input,
textarea,
select,
fieldset {
	margin-bottom: 1.3em;
}

form .errors {
	position: relative;
	top: -0.7em;
	margin-bottom: 0.3em;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column,
.columns {
	margin-left: 4%;
}

.column:first-child,
.columns:first-child {
	margin-left: 0;
}

.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.one.column,
.one.columns {
	width: 4.66666666667%;
}

.two.columns {
	width: 13.3333333333%;
}

.three.columns,
.one-quarter.column {
	width: 22%;
}

.four.columns,
.one-third.column {
	width: 30.6666666667%;
}

.five.columns {
	width: 39.3333333333%;
}

.six.columns,
.one-half.column {
	width: 48%;
}

.seven.columns {
	width: 56.6666666667%;
}

.eight.columns,
.two-thirds.column {
	width: 65.3333333333%;
}

.nine.columns {
	width: 74.0%;
}

.ten.columns {
	width: 82.6666666667%;
}

.eleven.columns {
	width: 91.3333333333%;
}

.twelve.columns,
.single.column {
	width: 100%;
	margin-left: 0;
}

.source-listing,
.source-listing * {
	display: inline;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.source-listing ul li::after,
.source-listing ul::before {
	content: ' | ';
	font-weight: normal;
}

.source-listing li:hover {
	font-weight: bold;
}

.source-listing ul li:hover {
	font-weight: normal;
}

.scroll {
	overflow: auto;
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
}

.align-right {
	text-align: right;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.diff {
	margin: 0;
}

.diff tr, .diff td {
	border: 0 !important;
}

.diff td {
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0em;
}

table.diff tr td:first-child {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pagination {
	margin: 1em 0;
}

#issue_top_pagination,
#issue_bottom_pagination {
    margin: 0 0;
    display: inline;
    float: right;
}
