{%- extends "base.html" -%}
{% block content %}
			<h1>{{ title }}</h1>
			<div class="medium size">
				<form action="" method="post" name="create_user">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="one-half column">
							{{ render_field(form.username, class='full size', maxlength=User.NAME_LENGTH, placeholder='Username', autofocus='', required='', indent=7) }}
						</div>
						<div class="one-half column">
							{{ render_field(form.email, class='full size', maxlength=User.EMAIL_LENGTH, placeholder='E-Mail', required='', indent=7) }}
						</div>
					</div>
					<div class="row">
						<div class="one-half column">
							{{ render_field(form.password, class='full size', placeholder='Password (optional)', maxlength=password_length.max, indent=7) }}
						</div>
						<div class="one-half column">
							{{ render_field(form.role, class='full size', required='', indent=7) }}
						</div>
					</div>
					<div class="row">
						{%- if random_password %}
						<div class="one-half column">
							{{ render_checkbox(form.random_password, indent=7) }}
						</div>
						<div class="one-half column">
						{% else %}
						<div class="single column">
						{% endif %}
							{{ render_checkbox(form.active, indent=7) }}
						</div>
					</div>
					{{ form.submit(class='button-primary', accesskey='s') }}
				</form>
			</div>
{%- endblock %}
