[submodule ".external/normalize.css"]
	path = .external/normalize.css
	url = https://github.com/necolas/normalize.css
[submodule ".external/archlinux-common-style"]
	path = .external/archlinux-common-style
	url = https://gitlab.archlinux.org/archlinux/archlinux-common-style.git
