{%- macro render_field(field, show_label=True, indent=1) -%}
	{%- set indention = '\t' * indent -%}
	{%- if show_label %}{{ field.label }}{% endif %}
{{ indention }}{{ field(**kwargs) }}
	{%- if field.errors %}
{{ indention }}<div class="errors">
{{ indention }}	<ul>
	{%- for error in field.errors %}
{{ indention }}		<li>{{ error }}</li>
	{%- endfor %}
{{ indention }}	</ul>
{{ indention }}</div>
	{%- endif %}
{%- endmacro -%}

{%- macro render_field_unlabeled(field, indent=1) -%}
	{{- render_field(field, show_label=False, indent=indent, **kwargs)|safe }}
{%- endmacro -%}

{%- macro render_checkbox(field, indent=1) -%}
	{%- set indention = '\t' * indent -%}
<label>
{{ indention }}	{{ field(**kwargs) }}
{{ indention }}	<span class="label-body">{{ field.label.text }}</span>
{{ indention }}</label>
{%- endmacro -%}

{%- macro nullable_value(value, default='') -%}
	{%- if value -%}{{ value }}{%- else -%}{{ default }}{%- endif -%}
{%- endmacro -%}

{%- macro colorize_severity(severity, label="") -%}
	{%- if not severity or severity == "Unknown" -%}
		<span class="purple">{% if label %}{{ label }}{% else %}Unknown{% endif %}</span>
	{%- elif severity == "Low" -%}
		<span class="green">{% if label %}{{ label }}{% else %}Low{% endif %}</span>
	{%- elif severity == "Medium" -%}
		<span class="light_orange">{% if label %}{{ label }}{% else %}Medium{% endif %}</span>
	{%- elif severity == "High" -%}
		<span class="orange">{% if label %}{{ label }}{% else %}High{% endif %}</span>
	{%- elif severity == "Critical" -%}
		<span class="red">{% if label %}{{ label }}{% else %}Critical{% endif %}</span>
	{%- else -%}
		<span>{{ severity }}</span>
	{%- endif -%}
{%- endmacro -%}

{%- macro colorize_status(status, label="") -%}
	{%- if not status or status == "Unknown" -%}
		<span class="purple">{% if label %}{{ label }}{% else %}Unknown{% endif %}</span>
	{%- elif status == "Testing" -%}
		<span class="orange">{% if label %}{{ label }}{% else %}Testing{% endif %}</span>
	{%- elif status == "Vulnerable" -%}
		<span class="red">{% if label %}{{ label }}{% else %}Vulnerable{% endif %}</span>
	{%- elif status == "Fixed" -%}
		<span class="green">{% if label %}{{ label }}{% else %}Fixed{% endif %}</span>
	{%- elif status == "Not affected" -%}
		<span>{% if label %}{{ label }}{% else %}Not affected{% endif %}</span>
	{%- else -%}
		<span>{{ status }}</span>
	{%- endif -%}
{%- endmacro -%}

{% macro colorize_remote(value) %}
	{%- if value == None or value == "Unknown" -%}
		<span class="purple">Unknown</span>
	{%- elif value == "Remote" -%}
		<span class="red">Yes</span>
	{%- else -%}
		<span class="green">No</span>
	{%- endif -%}
{%- endmacro -%}

{%- macro colorize_unknown(value) -%}
	{%- if value == None or value == "Unknown" -%}
		<span class="purple">Unknown</span>
	{%- else -%}
		{{ value }}
	{%- endif -%}
{%- endmacro -%}

{%- macro colorize_boolean(value) -%}
	{%- if value == None or value == "Unknown" -%}
		<span class="purple">Unknown</span>
	{%- elif value -%}
		<span class="red">Yes</span>
	{%- else -%}
		<span class="green">No</span>
	{%- endif -%}
{%- endmacro -%}

{%- macro boolean_value(value, default='Unknown') -%}
	{%- if value is none -%}
		{{ default }}
	{%- elif value -%}
		Yes
	{%- else -%}
		No
	{%- endif -%}
{%- endmacro -%}

{%- macro bug_ticket(id) -%}
	{%- if id -%}
		<a href="https://bugs.archlinux.org/task/{{ id }}">FS#{{ id }}</a>
	{%- endif -%}
{%- endmacro -%}

{%- macro colorize_diff(previous, current) %}
							<table class="diff">
{%- for line in previous|diff(current) %}
{%- if not line.startswith('?') %}
								<tr class="{% if line.startswith('+') %}green{% elif line.startswith('-') %}red{% endif %}">
									<td>{{ line[:1] }}</td>
									<td>{{ line[2:] }}</td>
								</tr>
{%- endif %}
{%- endfor %}
							</table>
{%- endmacro -%}

{%- macro render_pagination(pagination, style_id='') -%}
	{%- if pagination.has_prev or pagination.has_next -%}
			<div class="pagination" id="{{ style_id }}">
	{%- if pagination.has_prev %}
				<a href="{{ url_for_page(pagination.page - 1) }}" accesskey="p">&laquo; prev</a>
	{%- else %}
				&laquo; prev
	{%- endif %}
	{%- for page in pagination.iter_pages() %}
		{%- if page %}
			{%- if page != pagination.page %}
				<a href="{{ url_for_page(page) }}">{{ page }}</a>
			{%- else %}
				<strong>{{ page }}</strong>
			{%- endif %}
		{%- else %}
				<span class=ellipsis>…</span>
		{%- endif %}
	{%- endfor %}
	{%- if pagination.has_next %}
				<a href="{{ url_for_page(pagination.page + 1) }}" accesskey="n">next &raquo;</a>
	{%- else %}
				next &raquo;
	{%- endif %}
			</div>
	{%- endif -%}
{%- endmacro -%}

{%- macro transaction_operation_label(operation) -%}
	{%- if 0 == operation -%}
		<span class="green">created</span>
	{%- elif 1 == operation -%}
		<span class="orange">edited</span>
	{%- elif 2 == operation -%}
		<span class="red">deleted</span>
	{%- else -%}
		<span class="red">unknown</span>
	{%- endif -%}
{%- endmacro -%}

{%- macro label_from_model(model) -%}
	{%- if model.__class__.__name__ == 'CVEGroupVersion' %}AVG-{% endif %}{{ model.id }}
{%- endmacro -%}

{%- macro link_to_model(model) -%}
	{%- set label = label_from_model(model) -%}
	{%- if not model.operation_type == 2 -%}
		<a href="/{{ label }}">{{ label }}</a>
	{%- else -%}
		{{ label }}
	{%- endif -%}
{%- endmacro -%}

{%- macro link_to_user_log(username) -%}
	{%- if username -%}
		<a href="/user/{{ username }}/log">{{ username }}</a>
	{%- else -%}
		system
	{%- endif -%}
{%- endmacro -%}

{%- macro log_transaction_header(model, show_user) -%}
	{%- set transaction = model.transaction -%}
	{{ link_to_model(model) }} {{ transaction_operation_label(model.operation_type) }}{% if show_user %} by {{ link_to_user_log(transaction.user.name) }}{% endif %} at {{ transaction.issued_at.strftime('%d %b %Y %H:%M:%S') }}
{%- endmacro -%}
