{%- extends "base.html" -%}
{%- from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, bug_ticket -%}
{% block content %}
			<h1>Advisories
				<a href="{{ url_for('tracker.advisory_atom') }}">feed</a>
			</h1>
			{%- if scheduled %}
			<h2>Scheduled</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Date</th>
						<th>Advisory</th>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th class="full size">Type</th>
					</tr>
				</thead>
				<tbody>
				{%- for entry in scheduled %}
				{%- set advisory = entry.advisory %}
				{%- set group = entry.group %}
				{%- set package = entry.package %}
					<tr>
						<td>{{ advisory.created.strftime('%d %b %Y') }}</td>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			<h2>Published</h2>
			{%- for month, advisories in published.items() %}
			<h3>{{ month }}</h3>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Date</th>
						<th>Advisory</th>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th class="full size">Type</th>
					</tr>
				</thead>
				<tbody>
				{%- for entry in advisories %}
				{%- set advisory = entry.advisory %}
				{%- set group = entry.group %}
				{%- set package = entry.package %}
					<tr>
						<td>{{ advisory.created.strftime('%d %b %Y') }}</td>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
					</tr>
				{%- endfor %}
				</tbody>
			</table>
			{%- endfor %}
{%- endblock %}
