{%- from "_formhelpers.html" import render_field, render_field_unlabeled, render_checkbox -%}
<!DOCTYPE html>
<html>
	<head>
		{%- if title %}
		<title>{{ title }} - Arch Linux</title>
		{%- else %}
		<title>Arch Linux Security Tracker</title>
		{%- endif %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel='icon' href='/static/favicon.ico' />
		<link rel='stylesheet' href='/static/normalize.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/static/style.css' type='text/css' media='all' />
		{%- for feed in ATOM_FEEDS %}
		<link href="{{ url_for(feed.func) }}" rel="alternate" title="{{ feed.title }}" type="application/atom+xml">
		{%- endfor %}
	</head>
	<body>
		<div id="archnavbar">
			<div id="logo"><a href="https://archlinux.org" title="Return to the main page">Arch Linux</a></div>
			<div id="archnavbarmenu">
				<ul id="archnavbarlist">
					<li id="anb-home"><a href="https://archlinux.org" title="Arch news, packages, projects and more">Home</a></li>
					<li id="anb-packages"><a href="https://archlinux.org/packages/" title="Arch Package Database">Packages</a></li>
					<li id="anb-forums"><a href="https://bbs.archlinux.org/" title="Community forums">Forums</a></li>
					<li id="anb-wiki"><a href="https://wiki.archlinux.org/" title="Community documentation">Wiki</a></li>
					<li id="anb-bugs"><a href="https://bugs.archlinux.org/" title="Report and track bugs">Bugs</a></li>
					<li id="anb-security"><a href="https://security.archlinux.org/" title="Arch Linux Security Tracker">Security</a></li>
					<li id="anb-aur"><a href="https://aur.archlinux.org/" title="Arch Linux User Repository">AUR</a></li>
					<li id="anb-download"><a href="https://archlinux.org/download/" title="Get Arch Linux">Download</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<div class="navbar">
				<ul>
					<li><a href="/">issues</a></li>
					<li><a href="/advisory">advisories</a></li>
					<li><a href="/todo">todo</a></li>
					<li><a href="/stats">stats</a></li>
					<li><a href="/log">log</a></li>
					{%- if not current_user.is_authenticated %}
					<li><a href="/login" accesskey="l">login</a></li>
					{%- else %}
					<li><a href="/user">user</a></li>
					<li><a href="/cve/add">add CVE</a></li>
					<li><a href="/avg/add">add AVG</a></li>
					<li><a href="/profile">profile</a></li>
					<li><a href="/logout" accesskey="q">logout</a></li>
					{%- endif %}
				</ul>
			</div>
			<hr />
			{%- with messages = get_flashed_messages(with_categories=true) -%}
			{% if messages %}
			{%- for category, message in messages %}
			<div class="box {{ category }}">{{ message }}</div>
			{%- endfor -%}
			{%- endif -%}
			{%- endwith -%}
			{%- block content -%}{%- endblock %}
		</div>
	</body>
</html>
