{%- extends "base.html" -%}
{%- from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, colorize_remote, colorize_unknown, bug_ticket -%}
{% block content %}
			<h1>{{ group.name }}
			{%- if can_watch_log %} <a href="/{{ group.name }}/log" accesskey="l">log</a>{% endif %}
			{%- if can_edit %} <a href="/{{ group.name }}/edit" accesskey="e">edit</a>{% endif %}
			{%- if can_edit %} <a href="/{{ group.name }}/copy" accesskey="c">copy</a>{% endif %}
			{%- if can_delete %} <a href="/{{ group.name }}/delete" accesskey="d">delete</a>{% endif %}</h1>
			<table class="styled-table column-major full size">
				<tbody>
					<tr>
						<td>Package</td>
						<td class="full size wrap">
						{%- for pkg in packages %}
							<span class="no-wrap"><a href="/package/{{ pkg.pkgname }}">{{ pkg.pkgname }}</a>{% if not loop.last %}, {% endif %}</span>
						{%- endfor %}
						</td>
					</tr>
					<tr>
						<td>Status</td>
						<td>{{ colorize_status(group.status) }}</td>
					</tr>
					<tr>
						<td>Severity</td>
						<td>{{ colorize_severity(group.severity) }}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{ issue_type }}</td>
					</tr>
					<tr>
						<td>Affected</td>
						<td>{{ group.affected }}</td>
					</tr>
					<tr>
						<td>Fixed</td>
						<td>{% if group.fixed %}{{ group.fixed }}{% elif group.status != Status.not_affected %}{{ colorize_unknown('Unknown') }}{% else %}{{ Status.not_affected.label }}{% endif %}</td>
					</tr>
					<tr>
						<td>Current</td>
						{% if not versions -%}
						<td><span class="red">Removed</span></td>
						{%- else -%}
						<td>
						{%- for version in versions %}
							{{ version.version }} [{{ version.database }}]{% if not loop.last %}<br />{% endif %}
						{%- endfor %}
						</td>
						{%- endif %}
					</tr>
					<tr>
						<td>Ticket</td>
							{%- if group.bug_ticket %}
						<td>{{ bug_ticket(group.bug_ticket) }}</td>
							{%- elif group.status == "Vulnerable" %}
						<td><a class='button button-table button-primary' href="https://bugs.archlinux.org/newtask?{{ bug_data | urlencode }}", accesskey='t'>Create</a></td>
							{%- else %}
						<td>None</td>
							{%- endif %}
					</tr>
					<tr>
						<td>Created</td>
						<td>{{ group.created.strftime('%c') }}</td>
					</tr>
					{%- if advisories_pending %}
					<tr>
						<td>Advisory</td>
						{%- if can_handle_advisory %}
						<td>
							<form action="/AVG-{{ group.id }}/schedule" method="post" name="schedule">
								{{ form.hidden_tag() }}
								{{ form.advisory_type(class='no-margin input-compact') }}
								{{ form.submit(class='button button-table button-primary', accesskey='s') }}
							</form>
						</td>
						{%- else %}
						<td>Pending</td>
						{%- endif %}
					</tr>
					{%- endif %}
				</tbody>
			</table>
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>Issue</th>
						<th>Severity</th>
						<th>Remote</th>
						<th>Type</th>
						<th class="full size">Description</th>
					</tr>
				</thead>
				<tbody>
				{%- for cve in issues %}
					<tr>
						<td><a href="/{{ cve.id }}">{{ cve.id }}</a></td>
						<td>{{ colorize_severity(cve.severity) }}</td>
						<td>{{ colorize_remote(cve.remote) }}</td>
						<td>{{ colorize_unknown(cve.issue_type|capitalize) }}</td>
						<td><pre>{% if cve.description %}{{ cve.description|wordwrap(70, wrapstring=' ')|truncate(160) }}{% endif %}</pre></td>
					</tr>
				{%- endfor %}
				</tbody>
			</table>
			{%- if advisories %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>Date</th>
						<th>Advisory</th>
						<th>Package</th>
						<th class="full size">Description</th>
					</tr>
				</thead>
				<tbody>
				{% for advisory in advisories %}
					<tr>
						<td>{{ advisory.created.strftime('%d %b %Y') }}</td>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/package/{{ advisory.group_package.pkgname }}">{{ advisory.group_package.pkgname }}</a></td>
						<td>{{ advisory.advisory_type }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{%- endif %}
			{%- if group.reference %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>References</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><pre>{{ group.reference|urlize }}</pre></td>
					</tr>
				</tbody>
			</table>
			{%- endif %}
			{%- if group.notes %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><pre>{{ group.notes|urlize }}</pre></td>
					</tr>
				</tbody>
			</table>
			{%- endif %}
{%- endblock %}
