body {
  background: #f6f9fc none repeat scroll 0 0;
  color: #222;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
}

body,
pre,
input,
textarea,
select {
  font: 100% 'Open Sans', 'DejaVu Sans', sans-serif; !important
  -webkit-font-smoothing: antialiased; !important
  -moz-font-smoothing: antialiased; !important
  -moz-osx-font-smoothing: grayscale; !important
  letter-spacing: 0.02em; !important
}

.content {
  margin: 0 auto;
  text-align: left;
  width: 95%;
  font-size: 0.85em;
}

#archnavbar {
  background: #333 none repeat scroll 0 0 !important;
  border-bottom: 5px solid #08c !important;
  height: 40px !important;
  padding: 10px 15px !important;
}

#archdev-navbar {
  margin: 1.5em 0;
}

#archdev-navbar ul {
  list-style: outside none none;
  margin: -0.5em 0;
  padding: 0;
}

#archdev-navbar li {
  display: inline;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}

#archdev-navbar li a {
  padding: 0 0.5em;
}

#logo {
  background: rgba(0, 0, 0, 0) url("archlogo.4fefb38dc270.png") no-repeat scroll 0 0 !important;
  height: 40px !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 190px !important;
}

#logo a {
  display: block !important;
  height: 40px !important;
  width: 190px !important;
  text-indent: -9999px !important;
}

#page_footer {
  font-size: 0.9em;
  margin: 0 auto;
  text-align: center;
  width: 95%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.0em;
  margin: 0.75em 0;
}

h1 a,
h2 a,
h3 a {
  font-size: 0.45em;
  line-height: 0.45em;
}

hr {
  border: 0;
  border-top: 1px dashed #bcd;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #07b;
}

a:hover,
a:focus,
a:visited:hover,
a:visited:focus {
  text-decoration: underline;
}

.box {
  background: #ecf2f5 none repeat scroll 0 0;
  border: 1px solid #bcd;
  padding: 0.65em;
  margin-bottom: 1.5em;
}

.wrap {
  white-space: normal;
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
  margin: 0;
}

table {
  border: 0;
  margin-bottom: 1.5em;
  padding: 0.65em;
  font-size: 1.00em;
  border-collapse: collapse;
}

table tr td,
table th {
  padding: 0.35em 0.90em;
  text-align: left;
  white-space: nowrap;
}

table th {
  background: rgb(217, 230, 236) none repeat scroll 0 0;
  border-bottom: 1px solid #bcd;
}

table.styled_table {
  background: #ecf2f5 none repeat scroll 0 0;
  border: 1px solid #bcd;
}

table.styled_table tr td {
  border-top: 1px dotted #bcd;
}

table.column_major tr td:first-child {
  font-weight: bold;
}

.center {
  text-align: center;
}

.size-collapse {
  width: 1%;
}

.full_size {
  width: 100%;
}

.wide_size {
  width: 100%;
  max-width: 85em;
}

.medium_size {
  width: 100%;
  max-width: 70em;
}

dt {
  float: left;
  clear: left;
}

dd {
  padding: 0;
  margin: 0;
}

dd input,
dd select,
dd textarea {
  float: left;
  margin: 1px 0;
  width: 170px;
}

dd textarea {
  height: 100px;
}

form label {
  width: 100%;
  float: right;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 2.0em;
  padding: 0px 5px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 0.8rem; !important
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid rgb(155, 187, 224);
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
.button:focus,
button:hover,
button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  text-decoration: none;
  border-color: #555;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: rgb(217, 230, 236);
  border-color: #bcd;
}

.button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:hover,
button.button-primary:focus,
input[type="submit"].button-primary:hover,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:hover,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:hover,
input[type="button"].button-primary:focus {
  background-color: rgb(197, 217, 226);
  border-color: rgb(155, 187, 224);
}

.button.button-table {
  height: 2.2em;
  line-height: 2.0em;
  padding: 0 25px;
}

.no-padding {
  padding: 0;
}

.errors {
  float: left;
  clear: none;
  color: red;
}

.errors ul {
  padding: 0;
  margin: 0 0 0 15px;
}

.errors li {
  list-style: none;
}

.form_field_inline input {
  width: auto;
}

.form_add dt {
  width: 150px;
}

.form_login dt {
  float: none;
}

.form_login dd {
  clear: none;
  float: left;
}

.form_login dd label {
  float: none;
  margin: 0 0 0 5px;
}

.red {
  color: rgb(221, 0, 0);
}

.orange {
  color: rgb(255, 80, 5);
}

.light_orange {
  color: rgb(255, 164, 5)
}

.green {
  color: rgb(0, 128, 0);
}

.purple {
  color: rgb(127, 32, 139);
}

.error_icon_box {
  text-align: center;
  margin-top: -8vw;
}

.error_icon_box .icon {
  font-size: calc(13vw + 13vh + 6vmin);
}

.error_icon_box .text {
  margin-top: -10vw;
  font-weight: bold;
  font-size: calc(2vw + 2vh + 2vmin);
  line-height: 1.1em;
}
