{%- extends "base.html" -%}
{% block content %}
			<h1>User{% if current_user.role.is_administrator %} <a href="/user/create">create</a>{% endif %}</h1>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>User</th>
						<th>E-Mail</th>
						<th>Role</th>
						{%- if current_user.role.is_administrator %}
						<th class="center">Active</th>
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
					{%- for user in users %}
					<tr>
						<td><a href="/user/{{ user.name }}/log">{{ user.name }}</a></td>
						<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
						<td>{{ user.role }}</td>
						{%- if current_user.role.is_administrator %}
						<td class="center"><input name="active" type="checkbox" {% if user.active %} checked="checked"{% endif %} disabled="disabled" class="no-margin" /></td>
						<td class="no-padding">
							<a href="/user/{{ user.name }}/edit" class="button button-table button-primary">edit</a><a href="/user/{{ user.name }}/delete" class="button button-table button-primary">delete</a>
						</td>
						{%- endif %}
					</tr>
					{%- endfor %}
				</tbody>
			</table>
{%- endblock %}
