{% extends "base.html" %}

{% block content %}
	<h1>{{ title }}</h1>
    <form action="" method="post" name="add" class="form_add">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.pkgnames) }}
            {{ render_field(form.cve) }}
            {{ render_field(form.status) }}
            {{ render_field(form.affected) }}
            {{ render_field(form.fixed) }}
            {{ render_field(form.bug_ticket) }}
            {{ render_field(form.advisory_qualified) }}
            {{ render_field(form.notes, maxlength=CVEGroup.NOTES_LENGTH) }}
            {{ render_field_unlabeled(form.submit, class_='button-primary') }}
        </dl>
    </form>
{% endblock %}
