{%- extends "base.html" -%}
{% block content %}
			<h1>{{ title }}</h1>
			<div class="wide size">
				<form action="" method="post" name="add">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="one-half column">
							{{ render_field(form.pkgnames, class='full size', placeholder='Package names...', autofocus='', required='', indent=7) }}
						</div>
						<div class="one-half column">
							{{ render_field(form.cve, class='full size', placeholder='Issue identifiers...', required='', indent=7) }}
						</div>
					</div>
					<div class="row">
						<div class="one-quarter column">
							{{ render_field(form.status, class='full size', indent=7) }}
						</div>
						<div class="one-quarter column">
							{{ render_field(form.bug_ticket, class='full size', placeholder='ID', indent=7) }}
						</div>
						<div class="one-quarter column">
							{{ render_field(form.affected, class='full size', placeholder='Package version', required='', indent=7) }}
						</div>
						<div class="one-quarter column">
							{{ render_field(form.fixed, class='full size', placeholder='Package version', indent=7) }}
						</div>
					</div>
					{{ render_field(form.reference, class='full size', maxlength=CVEGroup.REFERENCES_LENGTH, placeholder='Relevant external group references...', indent=5) }}
					{{ render_field(form.notes, class='full size', maxlength=CVEGroup.NOTES_LENGTH, placeholder='Internal group side notes...', indent=5) }}
					<div class="row">
						<div class="one-quarter column">
							{{ render_checkbox(form.advisory_qualified, indent=7) }}
						</div>
						{%- if show_force %}
						<div class="one-quarter column">
							{{ render_checkbox(form.force_submit, indent=7) }}
						</div>
						{%- endif %}
					</div>
					{{ form.submit(class='button-primary', accesskey='s') }}
				</form>
			</div>
{%- endblock %}
