{%- extends "base.html" -%}
{%- from "_formhelpers.html" import colorize_severity, colorize_status, colorize_remote, colorize_unknown, nullable_value, bug_ticket -%}
{% block content %}
			<h1>{{ issue.id }} <a href="/{{  issue.id }}/edit">edit</a></h1>
			<table class="styled-table column-major full size">
				<tbody>
					<tr>
						<td>Source</td>
						<td class="wrap">
							<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ issue.id }}">MITRE</a> |
							<a href="https://access.redhat.com/security/cve/{{ issue.id }}">Red Hat</a> |
							<a href="https://web.nvd.nist.gov/view/vuln/detail?vulnId={{ issue.id }}">NVD</a> |
							<a href="https://bugs.archlinux.org/?project=0&cat%5B%5D=2&order=id&status%5B%5D=&sort=desc&string={{ issue.id }}">Arch Linux bugs</a> |
							<a href="https://security-tracker.debian.org/tracker/{{ issue.id }}">Debian</a> |
							<a href="https://people.canonical.com/~ubuntu-security/cve/{{ issue.id }}">Ubuntu</a> |
							<a href="https://bugs.gentoo.org/show_bug.cgi?id={{ issue.id }}">Gentoo</a> |
							<a href="https://bugzilla.novell.com/show_bug.cgi?id={{ issue.id }}">SuSe</a> |
							<a href="https://bugzilla.redhat.com/show_bug.cgi?id={{ issue.id }}">Red Hat bugs</a> |
							<a href="https://github.com/search?type=Code&q=%22{{ issue.id }}%22">GitHub code</a> |
							<a href="https://github.com/search?type=Issues&q=%22{{ issue.id }}%22">GitHub issues</a> |
							<a href="https://marc.info/?l=oss-security&s={{ issue.id }}">oss-security</a> |
							<a href="https://marc.info/?l=full-disclosure&s={{ issue.id }}">full-disclosure</a> |
							<a href="https://marc.info/?l=bugtraq&s={{ issue.id }}">bugtraq</a> |
							<a href="https://www.google.net/search?gws_rd=cr&q=%22{{ issue.id }}%22">web search</a>
						</td>
					</tr>
					<tr>
						<td>Severity</td>
						<td>{{ colorize_severity(issue.severity) }}</td>
					</tr>
					<tr>
						<td>Remote</td>
						<td>{{ colorize_remote(issue.remote) }}</td>
					</tr>
					<tr>
						<td>Type</td>
						<td>{{ colorize_unknown(issue.issue_type|capitalize) }}</td>
					</tr>
					<tr>
						<td>Description</td>
						<td><pre>{{ nullable_value(issue.description) }}</pre></td>
					</tr>
				</tbody>
			</table>
			{%- if groups %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>Group</th>
						<th>Package</th>
						<th>Affected</th>
						<th>Fixed</th>
						<th>Severity</th>
						<th>Status</th>
						<th class="full size">Ticket</th>
					</tr>
				</thead>
				<tbody>
				{%- for group in groups %}
					<tr>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td class="wrap">
						{%- for pkgname in group_packages[group] %}
							<span class="no-wrap"><a href="/package/{{ pkgname }}">{{ pkgname }}</a>{% if not loop.last %}, {% endif %}</span>
						{%- endfor %}
						</td>
						<td>{{ group.affected }}</td>
						<td>{{ group.fixed }}</td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ colorize_status(group.status) }}</td>
						<td>{{ bug_ticket(group.bug_ticket) }}</td>
					</tr>
				{%- endfor %}
				</tbody>
			</table>
			{%- endif %}
			{%- if advisories %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>Advisory</th>
						<th>Package</th>
						<th class="full size">Description</th>
					</tr>
				</thead>
				<tbody>
				{%- for advisory in advisories %}
					<tr>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/package/{{ advisory.group_package.pkgname }}">{{ advisory.group_package.pkgname }}</a></td>
						<td>{{ advisory.advisory_type }}</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if issue.reference %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>References</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><pre>{{ issue.reference|urlize }}</pre></td>
					</tr>
				</tbody>
			</table>
			{%- endif %}
			{%- if issue.notes %}
			<table class="styled-table full size">
				<thead>
					<tr>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><pre>{{ issue.notes|urlize }}</pre></td>
					</tr>
				</tbody>
			</table>
			{%- endif %}
{%- endblock %}
