{% extends "base.html" %}
{% from "_formhelpers.html" import colorize_severity, colorize_status, colorize_remote, nullable_value %}

{% block content %}
	<h1>{{ entry.cve }} <a href="/{{  entry.cve }}/edit">edit</a></h1>
	<table class="styled_table column_major medium_size">
		<tbody>
			<tr>
				<td>Source</td>
				<td class="wrap">
					<a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ entry.cve }}">MITRE</a> |
					<a href="https://access.redhat.com/security/cve/{{ entry.cve }}">Red Hat</a> |
					<a href="https://web.nvd.nist.gov/view/vuln/detail?vulnId={{ entry.cve }}">NVD</a> |
					<a href="https://bugs.archlinux.org/?project=0&cat%5B%5D=2&order=id&status%5B%5D=&sort=desc&string={{ entry.cve }}">Arch Linux bugs</a> |
					<a href="https://security-tracker.debian.org/tracker/{{ entry.cve }}">Debian</a> |
					<a href="https://people.canonical.com/~ubuntu-security/cve/{{ entry.cve }}">Ubuntu</a> |
					<a href="https://bugs.gentoo.org/show_bug.cgi?id={{ entry.cve }}">Gentoo</a> |
					<a href="https://bugzilla.novell.com/show_bug.cgi?id={{ entry.cve }}">SuSe</a> |
					<a href="https://github.com/search?type=Code&q=%22{{ entry.cve }}%22">GitHub code</a> |
					<a href="https://github.com/search?type=Issues&q=%22{{ entry.cve }}%22">GitHub issues</a> |
					<a href="https://marc.info/?l=oss-security&s={{ entry.cve }}">oss-security</a> |
					<a href="https://marc.info/?l=full-disclosure&s={{ entry.cve }}">full-disclosure</a> |
					<a href="https://marc.info/?l=bugtraq&s={{ entry.cve }}">bugtraq</a> |
					<a href="https://www.google.net/search?gws_rd=cr&q=%22{{ entry.cve }}%22">web search</a>
				</td>
			</tr>
			<tr>
				<td>Description</td>
				<td><pre>{{ nullable_value(entry.description) }}</pre></td>
			</tr>
			<tr>
			<tr>
				<td>Severity</td>
				<td>{{ colorize_severity(entry.severity) }}</td>
			</tr>
				<td>Remote</td>
				<td>{{ colorize_remote(entry.remote) }}</td>
			</tr>
		</tbody>
	</table>
	{% if entry.groups %}
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Group</th>
				<th>Package</th>
				<th>Affected</th>
				<th>Fixed</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		{% for group_entry, group, pkgs in entry.groups %}
			<tr>
				<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
				<td class="wrap">
				{% for pkg in pkgs %}
					<a href="/package/{{ pkg }}">{{ pkg }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
				</td>
				<td>{{ group.affected }}</td>
				<td>{{ group.fixed }}</td>
				<td>{{ colorize_status(group.status) }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% endif %}
	{% if entry.notes %}
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><pre>{{ entry.notes|urlize }}</pre></td>
			</tr>
		</tbody>
	</table>
	{% endif %}
{% endblock %}
