{% extends "base.html" %}
{% from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, colorize_remote, bug_ticket %}

{% block content %}
	<h1>{{ group.detail.name }} <a href="/{{  group.detail.name }}/edit">edit</a></h1>
	<table class="styled_table column_major medium_size">
		<tbody>
			<tr>
				<td>Package</td>
				<td class="full_size wrap">
				{% for pkg in group.pkgs %}
				<a href="/package/{{ pkg.pkgname }}">{{ pkg.pkgname }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Status</td>
				<td>{{ colorize_status(group.detail.status) }}</td>
			</tr>
			<tr>
				<td>Severity</td>
				<td>{{ colorize_severity(group.detail.severity) }}</td>
			</tr>
			<tr>
				<td>Affected</td>
				<td>{{ group.detail.affected }}</td>
			</tr>
			<tr>
				<td>Fixed</td>
				<td>{{ group.detail.fixed }}</td>
			</tr>
			<tr>
				<td>Current</td>
				<td>
				{% for version in group.versions %}
					{{ version.version }} [{{ version.db.name }}]<br />
				{% endfor %}
				</td>
			</tr>
			<tr>
				<td>Tickets</td>
				<td>{{ bug_ticket(group.detail.bug_ticket) }}</td>
			</tr>
		</tbody>
	</table>
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Issue</th>
				<th>Severity</th>
				<th>Remote</th>
				<th class="full_size">Description</th>
			</tr>
		</thead>
		<tbody>
		{% for cve in group.cves %}
			<tr>
				<td><a href="/{{ cve.id }}">{{ cve.id }}</a></td>
				<td>{{ colorize_severity(cve.severity) }}</td>
				<td>{{ colorize_remote(cve.remote) }}</td>
				<td><pre>{{ nullable_value(cve.description)|wordwrap(70, wrapstring=' ')|truncate(95) }}<pre></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% if group.detail.notes %}
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><pre>{{ group.detail.notes|urlize }}</pre></td>
			</tr>
		</tbody>
	</table>
	{% endif %}
{% endblock %}
