{% extends "base.html" %}
{% from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, bug_ticket %}

{% block content %}
	<h1>Security Bug Tracker</h1>
	<table class="styled_table wide_size">
		<thead>
			<tr>
				<th>group</th>
				<th>CVE</th>
				<th>packages</th>
				<th>affected</th>
				<th>fixed</th>
				<th>status</th>
				<th>ticket</th>
			</tr>
		</thead>
		<tbody>
		{% for entry in entries %}
			<tr>
				<td><a href="/{{ entry.group.name }}">{{ entry.group.name }}</a></td>
				<td>
					{% for cve in entry.cves %}
						<a href="/{{ cve.id }}">{{ cve.id }}</a><br />
					{% endfor %}
				</td>
				<td><a href="/package/{{ entry.group.pkgname }}">{{ entry.group.pkgname }}</a></td>
				<td>{{ entry.group.affected }}</td>
				<td>{{ entry.group.fixed }}</td>
				<td>{{ colorize_status(entry.group.status) }}</td>
				<td>{{ bug_ticket(entry.group.bug_ticket) }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
