{%- extends "base.html" -%}
{% block content %}
			<h1>Login</h1>
			<div class="tiny size">
				<form action="" method="post" name="login">
					{{ form.hidden_tag() }}
					<div class="row">
						<div class="single columns">
							{{ render_field(form.username, class='full size', placeholder='Username', autofocus='', required='', indent=7) }}
						</div>
					</div>
					<div class="row">
						<div class="single columns">
							{{ render_field(form.password, class='full size', placeholder='Password', required='', indent=7) }}
						</div>
					</div>
					{{ render_checkbox(form.remember_me, indent=5) }}
					{{ form.login(class='button-primary') }}
				</form>
			</div>
{%- endblock %}
