{%- extends "base.html" -%}
{%- from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, colorize_remote, colorize_unknown, bug_ticket -%}
{% block content %}
			<h1>Todo Lists</h1>
			{%- if entries.scheduled_advisories %}
			<h2>Scheduled advisories</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Advisory</th>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th class="full size">Type</th>
						<th class="center collapse size">Action</th>
					</tr>
				</thead>
				<tbody>
				{%- for advisory, package, group in entries.scheduled_advisories %}
					<tr>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}" class="no-wrap">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
						<td class="no-padding">
							<form action="/{{ advisory.id }}/publish" method="post" name="publish">
								{{ publish_form.hidden_tag() }}
								{{ publish_form.submit(class_='button button-table button-primary', id='submit_' + advisory.id)|safe }}
							</form>
						</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.unhandled_advisories %}
			<h2>Pending advisories</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th>Affected</th>
						<th>Fixed</th>
						<th>Ticket</th>
						<th class="center collapse size">Action</th>
					</tr>
				</thead>
				<tbody>
				{%- for group, pkgs in entries.unhandled_advisories %}
					<tr>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td class="wrap">
						{%- for pkg in pkgs %}
							<a href="/package/{{ pkg }}" class="no-wrap">{{ pkg }}</a>{% if not loop.last %}, {% endif %}
						{%- endfor %}
						</td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ group.affected }}</td>
						<td>{{ group.fixed }}</td>
						<td>{{ bug_ticket(group.bug_ticket) }}</td>
						<td class="no-padding">
							<a href="{{ group.name }}" class="button button-table button-primary">schedule</a>
						</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.bumped_groups  %}
			<h2>Bumped packages</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th>Affected</th>
						<th>Current</th>
						<th>Ticket</th>
						<th class="center collapse size">Action</th>
					</tr>
				</thead>
				<tbody>
				{%- for group, pkgs, versions in entries.bumped_groups %}
					<tr>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td class="wrap">
							{%- for pkg in pkgs %}
							<a href="/package/{{ pkg }}" class="no-wrap">{{ pkg }}</a>{% if not loop.last %}, {% endif %}
							{%- endfor %}
						</td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ group.affected }}</td>
						<td>
							{%- for version in versions %}
							{{ version.version }} [{{ version.db.name }}]<br />
							{%- endfor %}
						</td>
						<td>{{ bug_ticket(group.bug_ticket) }}</td>
						<td class="no-padding">
							<a href="{{ group.name }}/edit" class="button button-table button-primary">edit</a>
						</td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.unknown_issues %}
			<h2>Issues missing details</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Issue</th>
						<th>Severity</th>
						<th>Remote</th>
						<th>Type</th>
						<th class="full size">Description</th>
					</tr>
				</thead>
				<tbody>
				{%- for cve in entries.unknown_issues %}
					<tr>
						<td><a href="/{{ cve.id }}">{{ cve.id }}</a></td>
						<td>{{ colorize_severity(cve.severity) }}</td>
						<td>{{ colorize_remote(cve.remote) }}</td>
						<td>{{ colorize_unknown(cve.issue_type|capitalize) }}</td>
						<td><pre>{% if cve.description %}{{ cve.description|wordwrap(70, wrapstring=' ')|truncate(95) }}{% endif %}<pre></td>
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
{%- endblock %}
