{% extends "base.html" %}
{% from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, colorize_remote, bug_ticket %}

{% block content %}
	<h1>Todo Lists</h1>
	{% if entries.scheduled_advisories %}
	<h2>Scheduled advisories</h2>
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Advisory</th>
				<th>Group</th>
				<th>Package</th>
				<th>Severity</th>
				<th class="full_size">Description</th>
				<th class="center size-collapse">Action</th>
			</tr>
		</thead>
		<tbody>
		{% for advisory, package, group in entries.scheduled_advisories %}
			<tr>
				<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
				<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
				<td><a href="/package/{{ package.pkgname }}">{{ package.pkgname }}</a></td>
				<td>{{ colorize_severity(group.severity) }}</td>
				<td>{{ advisory.description }}</td>
				<td class="no-padding"><a href="{{ group.name }}/publish" class="button button-table button-primary">publish</a></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
	{% if entries.unhandled_advisories %}
	<h2>Pending advisories</h2>
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Group</th>
				<th>Package</th>
				<th>Severity</th>
				<th>Affected</th>
				<th>Fixed</th>
				<th>Ticket</th>
				<th class="center size-collapse">Action</th>
			</tr>
		</thead>
		<tbody>
		{% for group, pkgs in entries.unhandled_advisories %}
			<tr>
				<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
				<td class="wrap">
				{% for pkg in pkgs %}
					<a href="/package/{{ pkg }}">{{ pkg }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
				</td>
				<td>{{ colorize_severity(group.severity) }}</td>
				<td>{{ group.affected }}</td>
				<td>{{ group.fixed }}</td>
				<td>{{ bug_ticket(group.bug_ticket) }}</td>
				<td class="no-padding"><a href="{{ group.name }}/schedule" class="button button-table  button-primary">schedule</a></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
	{% if entries.unknown_issues %}
	<h2>Issues missing details</h2>
	<table class="styled_table medium_size">
		<thead>
			<tr>
				<th>Issue</th>
				<th>Severity</th>
				<th>Remote</th>
				<th class="full_size">Description</th>
			</tr>
		</thead>
		<tbody>
		{% for cve in entries.unknown_issues %}
			<tr>
				<td><a href="/{{ cve.id }}">{{ cve.id }}</a></td>
				<td>{{ colorize_severity(cve.severity) }}</td>
				<td>{{ colorize_remote(cve.remote) }}</td>
				<td><pre>{{ nullable_value(cve.description)|wordwrap(70, wrapstring=' ')|truncate(95) }}<pre></td>
			</tr>
		</tbody>
		{% endfor %}
	</table>
	{% endif %}
{% endblock %}
