{%- extends "base.html" -%}
{%- from "_formhelpers.html" import nullable_value, colorize_severity, colorize_status, colorize_remote, colorize_unknown, bug_ticket -%}
{% block content %}
			{%- if not entries.scheduled_advisories and not entries.unhandled_advisories and not entries.incomplete_advisories
				and not entries.bumped_groups and not entries.unknown_groups and not entries.unknown_issues and not entries.orphan_issues %}
			<div class="error_icon_box">
				<p class="icon">{{ smiley }}</p>
				<pre class="text">nothing to do
Yippie!</pre>
			<div>
			{%- else %}
			<h1>Todo Lists</h1>
			{%- endif %}
			{%- if entries.scheduled_advisories %}
			<h2>Scheduled advisories</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Advisory</th>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th class="full size">Type</th>
						{%- if can_handle_advisory %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for advisory, package, group in entries.scheduled_advisories %}
					<tr>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}" class="no-wrap">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
						{%- if can_handle_advisory %}
						<td class="no-padding"><a href="{{ advisory.id }}/publish" class="button button-table button-primary">publish</a></td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.unhandled_advisories %}
			<h2>Pending advisories</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th>Affected</th>
						<th>Fixed</th>
						<th>Ticket</th>
						{%- if can_handle_advisory %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for group, pkgs in entries.unhandled_advisories %}
					<tr>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td class="wrap">
						{%- for pkg in pkgs %}
							<a href="/package/{{ pkg }}" class="no-wrap">{{ pkg }}</a>{% if not loop.last %}, {% endif %}
						{%- endfor %}
						</td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ group.affected }}</td>
						<td>{{ group.fixed }}</td>
						<td>{{ bug_ticket(group.bug_ticket) }}</td>
						{%- if can_handle_advisory %}
						<td class="no-padding"><a href="{{ group.name }}" class="button button-table button-primary">schedule</a></td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.incomplete_advisories %}
			<h2>Incomplete advisories</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Advisory</th>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th class="full size">Type</th>
						{%- if can_handle_advisory %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for advisory, package, group in entries.incomplete_advisories %}
					<tr>
						<td><a href="/{{ advisory.id }}">{{ advisory.id }}</a></td>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td><a href="/package/{{ package.pkgname }}" class="no-wrap">{{ package.pkgname }}</a></td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ advisory.advisory_type }}</td>
						{%- if can_handle_advisory %}
						<td class="no-padding"><a href="{{ advisory.id }}/edit" class="button button-table button-primary">edit</a></td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.bumped_groups  %}
			<h2>Bumped packages</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th>Affected</th>
						<th>Current</th>
						<th>Ticket</th>
						{%- if can_edit_group %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for group, pkgnames, versions in entries.bumped_groups %}
					<tr>
						<td><a href="/{{ group.name }}">{{ group.name }}</a></td>
						<td class="wrap">
							{%- for pkg in pkgnames %}
							<a href="/package/{{ pkg }}" class="no-wrap">{{ pkg }}</a>{% if not loop.last %}, {% endif %}
							{%- endfor %}
						</td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ group.affected }}</td>
						<td>
							{%- for package in versions %}
							{{ package.version }} [{{ package.database }}]<br />
							{%- endfor %}
						</td>
						<td>{{ bug_ticket(group.bug_ticket) }}</td>
						{%- if can_edit_group %}
						<td class="no-padding">
							<a href="{{ group.name }}/edit" class="button button-table button-primary">edit</a>
						</td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.unknown_groups %}
			<h2>Undetermined groups</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Group</th>
						<th>Package</th>
						<th>Severity</th>
						<th>Affected</th>
						<th>Status</th>
						{%- if can_edit_group %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for group, packages in entries.unknown_groups %}
					<tr>
						<td><a href="/{{ group }}">{{ group }}</a></td>
						<td class="wrap">
							{%- for pkg in packages %}
							<a href="/package/{{ pkg.name }}" class="no-wrap">{{ pkg.name }}</a>{% if not loop.last %}, {% endif %}
							{%- endfor %}
						</td>
						<td>{{ colorize_severity(group.severity) }}</td>
						<td>{{ group.affected }}</td>
						<td>{{ colorize_unknown(group.status) }}</td>
						{%- if can_edit_group %}
						<td class="no-padding">
							<a href="{{ group.name }}/edit" class="button button-table button-primary">edit</a>
						</td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.unknown_issues %}
			<h2>Issues missing details</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Issue</th>
						<th>Severity</th>
						<th>Remote</th>
						<th>Type</th>
						<th class="full size">Description</th>
						{%- if can_edit_issue %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for cve in entries.unknown_issues %}
					<tr>
						<td><a href="/{{ cve.id }}">{{ cve.id }}</a></td>
						<td>{{ colorize_severity(cve.severity) }}</td>
						<td>{{ colorize_remote(cve.remote) }}</td>
						<td>{{ colorize_unknown(cve.issue_type|capitalize) }}</td>
						<td><pre>{% if cve.description %}{{ cve.description|wordwrap(70, wrapstring=' ')|truncate(95) }}{% endif %}<pre></td>
						{%- if can_edit_issue %}
						<td class="no-padding">
							<a href="{{ cve.id }}/edit" class="button button-table button-primary">edit</a>
						</td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
			{%- if entries.orphan_issues %}
			<h2>Orphan issues</h2>
			<table class="styled-table medium size">
				<thead>
					<tr>
						<th>Issue</th>
						<th>Severity</th>
						<th>Remote</th>
						<th>Type</th>
						<th class="full size">Description</th>
						{%- if can_edit_issue %}
						<th class="center collapse size">Action</th>
						{%- endif %}
					</tr>
				</thead>
				<tbody>
				{%- for cve in entries.orphan_issues %}
					<tr>
						<td><a href="/{{ cve.id }}">{{ cve.id }}</a></td>
						<td>{{ colorize_severity(cve.severity) }}</td>
						<td>{{ colorize_remote(cve.remote) }}</td>
						<td>{{ colorize_unknown(cve.issue_type|capitalize) }}</td>
						<td><pre>{% if cve.description %}{{ cve.description|wordwrap(70, wrapstring=' ')|truncate(95) }}{% endif %}<pre></td>
						{%- if can_edit_issue %}
						<td class="no-padding">
							<a href="{{ cve.id }}/edit" class="button button-table button-primary">edit</a>
						</td>
						{%- endif %}
					</tr>
				</tbody>
				{%- endfor %}
			</table>
			{%- endif %}
{%- endblock %}
